
env:
  global:
    - COMMIT_AUTHOR_EMAIL: vahid.mardani@gmail.com

language: python

python:
  - 3.6

before_install:
  - pip install -U pip setuptools wheel
  - pip install -r requirements-dev.txt

install: pip install -ve .
script: py.test --cov=bddrest bddrest/tests
after_success: travis_retry coveralls
deploy:
  provider: pypi
  skip_cleanup: true
  user: Vahid.Mardani
  skip_cleanup: true
  password:
    secure: "qBSrswYqgZvgna16s/IuG5p2IubCmFdAOnkmrl6Wz2PMuVB52oKwTKo4qnntD0rbM6lajkORdkPLnDgFZgZk+okf6AEAaOpQyF0oXV8VKhAKgcUq7RMRyGSdOWFEhEx/Ec33y9wjuwGQVSfcRg6B6WSp5KyVlr2f3pve1CkaGdkfqYw69ZS/qW6J8w7VlMcmTCTtFzPC75hF14g/y0MIvM+kxGUtjRvR6UnjKHp1RSAIwuuT3oKuwcFgZ7KJ8IToRNp2sInunsTuh6Xv2YNA0YzmUP7aaTGQlTd6BR3RQEeZxV77b8zKW3d/ss0FNCaTMdCaQZlhBjtq4wz/bgoRt3CqfLwkjogexpobHxoDorzH3Jb17Hoge9ezn9wubrWeAXyh8qrQr3ccHWr1GALNCqga5gMAhWWAvW+xxPKNPOmkkDRxG5ir75NB0v3KRL42fHqMLjVI6iIf2/yL67g9HxAd2Qvv18x/nO8p5zEWUNjuAwG7ww32Gs6DsxFRAKSTRrbvHSEIz7gtCiqFmYZtw9A9WDFUNUhxkcWout4W8rQJx7zz6XrLxGBF7vY36EK62gGRsw+N5jai0OE6P9pCvSr7wW0D4aI4l4mmhBTmUyaooewclCxEhWzxq4krc+tqkvO7ddZ6B4gdfUQNF/lCMine1xSgYVtaN2I+IwCKXfs="
  on:
    tags: true
    distributions: sdist bdist_wheel
    repo: Carrene/bddrest
    all_branches: true
